---
import "../styles/splitting.css";
import "../styles/splitting-cells.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<script is:inline src="/gsap.min.js"></script>
		<script is:inline src="/splitting.min.js"></script>
		<nav class="fixed left-0 top-0 px-20 py-5">
			<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M8.488 24C8.76 22.048 8.896 19.144 8.896 15.288C8.896 11.448 8.76 8.256 8.488 5.712C9.352 5.664 10.192 5.568 11.008 5.424C11.824 5.28 12.472 5.096 12.952 4.872C12.808 5.48 12.688 6.464 12.592 7.824C12.512 9.184 12.408 11.104 12.28 13.584C12.264 14.048 12.232 14.776 12.184 15.768H12.496C12.992 14.264 13.808 13.04 14.944 12.096C16.08 11.136 17.384 10.656 18.856 10.656C20.6 10.656 21.864 11.168 22.648 12.192C23.448 13.2 23.848 14.528 23.848 16.176L23.824 18.888C23.824 21.08 23.944 22.784 24.184 24H20.08V18.36C20.08 16.968 19.792 15.84 19.216 14.976C18.656 14.112 17.776 13.68 16.576 13.68C15.28 13.68 14.296 14.168 13.624 15.144C12.968 16.12 12.64 17.344 12.64 18.816V24H8.488ZM38.7156 10.8C38.4436 12.736 38.3076 14.792 38.3076 16.968C38.3076 19.112 38.4436 21.456 38.7156 24H34.2756C34.7076 22.272 34.9476 20.776 34.9956 19.512H34.6836C34.2196 21 33.4436 22.168 32.3556 23.016C31.2676 23.848 29.9556 24.264 28.4196 24.264C26.7396 24.264 25.5316 23.76 24.7956 22.752C24.0756 21.744 23.7156 20.408 23.7156 18.744V16.392C23.7156 14.184 23.6036 12.504 23.3796 11.352C24.7716 11.384 26.0756 11.2 27.2916 10.8V16.944C27.2916 18.288 27.5556 19.336 28.0836 20.088C28.6116 20.84 29.4196 21.216 30.5076 21.216C31.9156 21.216 32.9396 20.792 33.5796 19.944C34.2196 19.096 34.5396 17.944 34.5396 16.488V11.352C36.0596 11.384 37.4516 11.2 38.7156 10.8Z"
					fill="#181818"></path>
				<path
					d="M23.944 34.536C23.832 35.064 23.776 35.616 23.776 36.192C23.776 36.752 23.832 37.296 23.944 37.824C22.952 38.32 21.816 38.696 20.536 38.952C19.272 39.208 17.984 39.336 16.672 39.336C13.792 39.336 11.6 38.736 10.096 37.536C8.592 36.336 7.84 34.656 7.84 32.496C7.84 31.072 8.16 29.848 8.8 28.824C9.456 27.784 10.376 26.992 11.56 26.448C12.76 25.904 14.168 25.632 15.784 25.632C17.32 25.632 18.696 25.888 19.912 26.4C21.144 26.896 22.112 27.64 22.816 28.632C23.536 29.608 23.896 30.792 23.896 32.184C23.896 32.36 23.88 32.64 23.848 33.024C20.92 32.976 18.4 32.952 16.288 32.952C14.848 32.952 13.36 32.968 11.824 33C12.176 35.416 13.88 36.624 16.936 36.624C18.152 36.624 19.432 36.432 20.776 36.048C22.12 35.664 23.176 35.16 23.944 34.536ZM15.784 28.2C14.568 28.2 13.608 28.512 12.904 29.136C12.216 29.76 11.84 30.656 11.776 31.824C12.624 31.856 14.064 31.872 16.096 31.872C17.808 31.872 19.088 31.864 19.936 31.848C19.792 30.68 19.352 29.784 18.616 29.16C17.896 28.52 16.952 28.2 15.784 28.2ZM30.8298 39.336C29.4058 39.336 28.0138 39.208 26.6538 38.952C25.3098 38.696 24.1498 38.32 23.1738 37.824C23.3338 37.392 23.4138 36.84 23.4138 36.168C23.4138 35.496 23.3338 34.992 23.1738 34.656C23.9418 35.264 25.0378 35.76 26.4618 36.144C27.8858 36.512 29.3018 36.696 30.7098 36.696C31.8618 36.696 32.7258 36.56 33.3018 36.288C33.8938 36 34.1898 35.592 34.1898 35.064C34.1898 34.632 33.9978 34.312 33.6138 34.104C33.2458 33.88 32.7658 33.736 32.1738 33.672C31.5978 33.608 30.8058 33.552 29.7978 33.504C28.3418 33.44 27.1498 33.336 26.2218 33.192C25.3098 33.032 24.5258 32.688 23.8698 32.16C23.2138 31.632 22.8858 30.848 22.8858 29.808C22.8858 28.128 23.6378 27.024 25.1418 26.496C26.6458 25.952 28.4058 25.68 30.4218 25.68C31.6698 25.68 32.7898 25.768 33.7818 25.944C34.7898 26.104 35.9578 26.368 37.2858 26.736C37.1418 27.136 37.0698 27.568 37.0698 28.032C37.0698 28.544 37.1658 29.176 37.3578 29.928C35.0218 28.76 32.6378 28.176 30.2058 28.176C28.9898 28.176 28.0938 28.304 27.5178 28.56C26.9418 28.816 26.6538 29.232 26.6538 29.808C26.6538 30.288 26.8458 30.64 27.2298 30.864C27.6298 31.088 28.1098 31.232 28.6698 31.296C29.2458 31.36 30.0778 31.416 31.1658 31.464C32.6218 31.512 33.8058 31.608 34.7178 31.752C35.6298 31.896 36.4058 32.232 37.0458 32.76C37.7018 33.272 38.0298 34.056 38.0298 35.112C38.0298 37.928 35.6298 39.336 30.8298 39.336Z"
					fill="#181818"></path>
			</svg>
		</nav>
		<main class="h-screen w-screen overflow-hidden">
			<slot />
		</main>
	</body>
</html>
